<h2>About Ask a Dev</h2>

<p>Ask a Dev was created for programmers to ask any question they could not figure out the answer to on their own. There is not always a teacher or friend that can easily help you answer a question that you're stuck on but there is the internet and many other programmers out there willing to help you through any problems you might have! Please feel free to ask any question you have or answer if you think you have the solution! Most importantly though, happy programming!</p>

{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
{{#link-to 'index'}}Home.{{/link-to}}
