<h1> Welcome to Ask a Dev </h1>

<p>Where Devs help Devs become better Devs! Feel free to ask any question that you are stuck on and answer any question you think you have the answer to!</p>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
